// Parameter configurations
params {
    // Input parameters
    threshold = 30 // Threshold for filtering the bad quality reads
    mismatch = 2 // Maximum mismatches allowed in alignment 
    processor = 2 // Maximum processors used in parallel processing 
    sample_file = "Data/Raw_Data/NNS_library_1_test.fastq"//${projectDir}/
    ref_file = "Data/Raw_Data/WT_sequence.fa"//${projectDir}/
    processed_dir = "Data/Processed_Data" // ${projectDir}/Processed data directory
    result_dir = "Data/Result" // ${projectDir}/ Results directory
    trace_dir = "Data/Result"
    sql_db = "Data/Processed_Data/test.sqlite" // ${projectDir}/ sqlite3 database
    sql_table = "NNS_library_1" // table used for storing fasta sequences
    batch_size = 10000 // Batch to read in table at a time
    processes = [setup_container:true, process_reads: true, align_reads: true, codon_analysis: true] // Processes to execute in the nextflow
}

   
timeline {
  enabled = false
  file = "${params.trace_dir}/saturmut_timeline.html"
}
report {
  enabled = false
  file = "${params.trace_dir}/saturmut_report.html"
}
trace {
  enabled = false
  file = "${params.trace_dir}/saturmut_trace.txt"
}
dag {
  enabled = false
  file = "${params.trace_dir}/saturmut_dag.html"
}

manifest {
    name = 'Saturation_Mutagenesis'
    author = 'Pankaj Kumar Chauhan'
    description = 'Saturation_Mutagenesis Transcriptome Analysis Pipeline'
    mainScript = 'sm.nf'
    nextflowVersion = '>=22'
    version = '1.0'
}


profiles {
    docker {
        process {
            container = 'sm_image:latest'
            docker.enabled = true
        }
    }
    
    singularity {
        singularity.enabled = false
        container = 'sm_image.sif'
    }

    conda {
        conda.enabled = false
        conda.autoActivating = true
    }
}
